.details {
    margin-top: 5em;
}

.page-content svg {
    width: 1.5em; 
    margin-top:1em
}

.page-content svg path {
    fill: var(--clr-primary-black);
}

p {
    display: inline-block; 
    margin-left: 0.5em;
    vertical-align: bottom;
}